h1 {
  color: Black;
}

/* property : value */


#home-intro{
  text-align: center;
  border: 3px solid grey;

}

#home-intro:hover{
  background-color: rgb(119, 169, 198);
}

#p2{
  color: rgb(8, 122, 160);
}

#nav{
  text-align: center;
  background-color: crimson;
  height: 25px;
  padding-top: 5px;
  margin-bottom: 5px;
}

#nav a{
  margin: 0px 5px;
  text-decoration: none;
  color: white;
}

#card{
  align-items: center;
  margin-top: 5px;
  border:3px solid black;
  width : 300px;
  height: 500px;
  margin: 3px auto;
  border-radius:8px;
}

#card-img{
  width: 300px;
  height: 300px;
  align-items: center;
  

}

img{
  width: 300px;
  height: 300px;
  border-radius:8px;
}

#action{
  text-align: center;
}

button{
    width : 100%;

}