h1{
    color: rgb(22, 24, 34);
    font-size: 50px;
    text-align: bold;
}

#home-page{
    background-color: rgb(229, 235, 237);
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    border: 3px;
    border-style: solid;
    border-color: rgb(36, 24, 10);
}



#p1{
    color: rgb(22, 24, 34);
    font-size: 20px;
    text-align: center;
}

#p2{
    color: rgb(44, 73, 217);
    font-size: 20px;
    text-align: center;
}

#home-page:hover{
    background-color: rgb(126, 190, 200);
}